.DataPane {
    background-color: rgb(216, 144, 235);
    display: flex;
    flex-direction: row;
    width: 350px;
    height: fit-content;
}

#existingData {
    width: 50%;
}

#uploadNew {
    width: 50%;
}

#classOptions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}