.DataPane {
    background-color: mediumorchid;
    display: flex;
    flex-direction: row;
    width: 500px;
}

#existingData {
    width: 50%;
}

#uploadNew {
    width: 50%;
}

#classOptions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}